footer {
    .contact-credentials{
        .mail-link{
                color: #FDC561;
        }
    }
    background-color: #074160;
    .container {
        padding-top: 3%;
    }
    ul {
        li {
            cursor: pointer;
        }
    }
    .list-inline-item {
        font-size: 1vw;
    }
    .contact-credentials,
    .social-network {
        span {
                
            
            color: #FDC561;
        }
    }
    .social-network {
        // margin-left: 5%;
        // .fa-instagram{
        //     margin-left: 5vw;
        //     margin-right: 5vw;
        // }
        padding-left: 1vw;
        margin: 0 auto;
        a {
            // margin-right: 5%;
                color: #FDC561;
                font-size: 24px;
                // margin-left: 5%;
            
        }
        .fa-facebook{
            padding-left: 3px;
            padding-right: 3px;
        }
        .fa-instagram{
            
            margin: 0 5%;
        }
    }
    .copyright {
        font-weight: bold;
    }
    .about-footer{
        ul{
            li{
                transition: .3s ease all;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}