header {
    .navbar-desktop-container {
        transition: .3s ease all;
        .navbar-brand {
            img {
                margin-top: 3%;
                margin-left: 30%;
            }
        }
        .navbar-options {
            cursor: pointer;
            .navigation {
                border-right: 2px solid #ffffff;
                padding-right: 1%;
                &:last-child {
                    border-right: none;
                }
            }
            .option-navbar {
                padding-left: 2%;
                padding-right: 2%;
                padding-top: 1%;
            }
            .ejectutives {
                margin-right: 5%;
            }
            .pipe {
                font-size: 1vw;
                font-weight: bold;
            }
            .social-network {
                a {
                    i {
                        color: #FDC561;
                        font-size: 1.5vw;
                        margin-right: 3%;
                    }
                }
            }
            p {
                span {
                    color: #ffffff;
                    font-size: 1vw;
                    margin-right: 1%;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .social-network {
                    &:hover {
                        text-decoration: none !important;
                    }
                }
            }
        }
    }
    .nav-mobile-container {
        transition: .3s ease all;
        border-bottom: none;
        .menu-drop {
            background-color: transparent;
            border: none;
            color: #ffffff;
            margin-right: 15%;
            margin-top: 15%;
            i {
                font-size: 28px;
            }
        }
        .menu-main {
            background-color: rgba(5, 44, 65, .9);
        }
        .show-menu {
            background-color: #ffffff;
            padding-left: 11%;
            div {
                padding-top: 1%;
                padding-bottom: 1%;
                a {
                    color: #052C41;
                    font-size: 3vw;
                }
            }
            .social-network {
                a {
                    i {
                        padding-top: 1.5%;
                        color: #FDC561;
                        margin-right: 7%;
                    }
                }
            }
        }
        .show-menu-bot {
            background-color: rgba(5, 44, 65, .9);
            padding-left: 5%;
            ul {
                margin-top: 1%;
                li {
                    color: #ffffff;
                    font-size: 3vw;
                    padding-left: 9%;
                    font-weight: bold;
                    margin-bottom: 5vh;
                    width: 100vw;
                    list-style: none;
                }
            }
        }
    }
    height: 100vh;
    .carousel-indicators li {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: 10px;
        text-indent: 0;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        background-color: #052C41;
    }
    .carousel-indicators .active {
        width: 15px;
        height: 15px;
        margin: 10px;
        background-color: rgb(255, 196, 113);
    }
    #carouselIndicators1 {
        height: 100vh;
        .first-slide,
        .second-slide,
        .third-slide {
            height: 100vh;
            background: -moz-linear-gradient(top, rgba(7, 41, 66, 0) 0%, rgba(7, 41, 66, 0.02) 6%, rgba(7, 41, 66, 0.09) 12%, rgba(7, 41, 66, 0.57) 44%, rgba(7, 41, 66, 0.78) 61%, rgba(7, 41, 66, 0.85) 70%, rgba(7, 41, 66, 0.91) 81%, rgba(7, 41, 66, 0.93) 100%), url(../images/7.jpg) no-repeat;
            background: -webkit-linear-gradient(top, rgba(7, 41, 66, 0) 0%, rgba(7, 41, 66, 0.02) 6%, rgba(7, 41, 66, 0.09) 12%, rgba(7, 41, 66, 0.57) 44%, rgba(7, 41, 66, 0.78) 61%, rgba(7, 41, 66, 0.85) 70%, rgba(7, 41, 66, 0.91) 81%, rgba(7, 41, 66, 0.93) 100%), url(../images/7.jpg) no-repeat;
            background: linear-gradient(to bottom, rgba(7, 41, 66, 0) 0%, rgba(7, 41, 66, 0.02) 6%, rgba(7, 41, 66, 0.09) 12%, rgba(7, 41, 66, 0.57) 44%, rgba(7, 41, 66, 0.78) 61%, rgba(7, 41, 66, 0.85) 70%, rgba(7, 41, 66, 0.91) 81%, rgba(7, 41, 66, 0.93) 100%), url(../images/7.jpg) no-repeat;
            background-size: cover;
            background-position: center;
            min-height: 100%;
            max-height: 100%;
            .header-text {
                color: #ffffff;
                position: absolute;
                top: 35%;
                left: 10%;
                h2 {
                    font-size: 4vw;
                }
                h3 {
                    font-size: 7vw;
                    color: rgb(255, 196, 113);
                }
                h1 {
                    font-size: 6vw;
                    font-weight: 600;
                    display: inline;
                }
                button {
                    position: absolute;
                    top: 33%;
                    background-color: transparent;
                    border: 2px solid rgb(255, 196, 113);
                    color: rgb(255, 196, 113);
                    font-size: 1vw;
                    padding: .5% 1%;
                    font-weight: 800;
                    margin-left: 1vw;
                    transition: .3s ease all;
                    &:hover {
                        background-color: rgb(255, 196, 113);
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

.navbar-scroll {
    background-color: rgba(5, 44, 65, .8);
}