.us-mobile {
    display: none;
}

.us {
    .products-left {
        background: url('../images/1.png');
        background-size: cover;
        .dynamic-box {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 67.2%;
            background-color: rgba(200, 208, 212, .95);
            display: flex;
            animation-duration: .5s;
            z-index: 1;
            .s4{
                h2{
                    margin-left: 100%;
                }
                .last-us {
                    width: 100%;
                    // padding-left: 30%;
                    margin-left: 105%;

                }
            }
            .dynamic-selected {
                
                h2 {
                    // margin-left: 12%;
                   
                    margin-top: 6%;
                    color: #052C41;
                    font-size: 3.5vw;
                }
                ul {
                    margin-right: 12%;
                    margin-left: 15%;
                    margin-bottom: 5%;
                    font-size: 1.15vw;
                }
                p {
                    margin-right: 12%;
                    margin-left: 12%;
                    margin-bottom: 5%;
                    font-size: 1.15vw;
                }
                button {
                    background-color: transparent;
                    border: 2px solid #052C41;
                    padding: 3%;
                    transition: .3s ease all;
                    font-family: 'Gotham Bold';
                    letter-spacing: 1px;
                    margin-bottom: 5%;
                    outline: none;
                    &:hover {
                        color: #ffffff;
                        background-color: #052C41;
                    }
                }
            }
        }
    }
    .products-right {
        .product-title-container {
            background-color: #ffffff;
            h2 {
                color: #052C41;
                padding-top: 10%;
                // padding-left: 7%;
                font-size: 4vw;
                font-weight: bold;
            }
            p {
                // padding-left: 7%;
                padding-bottom: 5%;
                font-size: 1vw;
            }
        }
        .product-items-container {
            :not(.active-item)+div.item-container {
                &::before {
                    content: "";
                    position: absolute;
                    left: 15%;
                    height: 1px;
                    width: 70%;
                    border-top: #052C41 3px solid;
                }
            }
            .active-item {
                button {
                    background-color: #052C41;
                    color: #FDC561;
                    border: none;
                    outline: none;
                }
                i {
                    border: solid #ffffff;
                    border-width: 0 3px 3px 0;
                    display: inline-block;
                    padding: 3px;
                    margin-right: 1.5vw;
                }
            }
            button {
                padding-left: 9%;
                padding-top: 7%;
                padding-bottom: 7%;
                margin-top: 0;
                margin-bottom: 0;
                border: none;
                cursor: pointer;
                transition: .3s ease all;
                background-color: transparent;
            }
        }
        .arrow {
            border: solid #052C41;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            margin-right: 1.5vw;
        }
        .right {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }
    }
}