* {
  margin: 0;
  padding: 0;
  font-family: 'Gotham Light'; }

@font-face {
  font-family: 'Gotham Light';
  src: url("../fonts/Gotham-Light.otf"); }
@font-face {
  font-family: 'Gotham Bold';
  src: url("../fonts/Gotham-Bold.otf"); }
button {
  cursor: pointer;
  outline: none !important; }

.fast {
  animation-duration: .1s !important; }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 0;
  width: 0; }

header {
  height: 100vh; }
  header .navbar-desktop-container {
    transition: .3s ease all; }
    header .navbar-desktop-container .navbar-brand img {
      margin-top: 3%;
      margin-left: 30%; }
    header .navbar-desktop-container .navbar-options {
      cursor: pointer; }
      header .navbar-desktop-container .navbar-options .navigation {
        border-right: 2px solid #ffffff;
        padding-right: 1%; }
        header .navbar-desktop-container .navbar-options .navigation:last-child {
          border-right: none; }
      header .navbar-desktop-container .navbar-options .option-navbar {
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 1%; }
      header .navbar-desktop-container .navbar-options .ejectutives {
        margin-right: 5%; }
      header .navbar-desktop-container .navbar-options .pipe {
        font-size: 1vw;
        font-weight: bold; }
      header .navbar-desktop-container .navbar-options .social-network a i {
        color: #FDC561;
        font-size: 1.5vw;
        margin-right: 3%; }
      header .navbar-desktop-container .navbar-options p span {
        color: #ffffff;
        font-size: 1vw;
        margin-right: 1%; }
        header .navbar-desktop-container .navbar-options p span:hover {
          text-decoration: underline; }
      header .navbar-desktop-container .navbar-options p .social-network:hover {
        text-decoration: none !important; }
  header .nav-mobile-container {
    transition: .3s ease all;
    border-bottom: none; }
    header .nav-mobile-container .menu-drop {
      background-color: transparent;
      border: none;
      color: #ffffff;
      margin-right: 15%;
      margin-top: 15%; }
      header .nav-mobile-container .menu-drop i {
        font-size: 28px; }
    header .nav-mobile-container .menu-main {
      background-color: rgba(5, 44, 65, 0.9); }
    header .nav-mobile-container .show-menu {
      background-color: #ffffff;
      padding-left: 11%; }
      header .nav-mobile-container .show-menu div {
        padding-top: 1%;
        padding-bottom: 1%; }
        header .nav-mobile-container .show-menu div a {
          color: #052C41;
          font-size: 3vw; }
      header .nav-mobile-container .show-menu .social-network a i {
        padding-top: 1.5%;
        color: #FDC561;
        margin-right: 7%; }
    header .nav-mobile-container .show-menu-bot {
      background-color: rgba(5, 44, 65, 0.9);
      padding-left: 5%; }
      header .nav-mobile-container .show-menu-bot ul {
        margin-top: 1%; }
        header .nav-mobile-container .show-menu-bot ul li {
          color: #ffffff;
          font-size: 3vw;
          padding-left: 9%;
          font-weight: bold;
          margin-bottom: 5vh;
          width: 100vw;
          list-style: none; }
  header .carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #052C41; }
  header .carousel-indicators .active {
    width: 15px;
    height: 15px;
    margin: 10px;
    background-color: #ffc471; }
  header #carouselIndicators1 {
    height: 100vh; }
    header #carouselIndicators1 .first-slide,
    header #carouselIndicators1 .second-slide,
    header #carouselIndicators1 .third-slide {
      height: 100vh;
      background: -moz-linear-gradient(top, rgba(7, 41, 66, 0) 0%, rgba(7, 41, 66, 0.02) 6%, rgba(7, 41, 66, 0.09) 12%, rgba(7, 41, 66, 0.57) 44%, rgba(7, 41, 66, 0.78) 61%, rgba(7, 41, 66, 0.85) 70%, rgba(7, 41, 66, 0.91) 81%, rgba(7, 41, 66, 0.93) 100%), url(../images/7.jpg) no-repeat;
      background: -webkit-linear-gradient(top, rgba(7, 41, 66, 0) 0%, rgba(7, 41, 66, 0.02) 6%, rgba(7, 41, 66, 0.09) 12%, rgba(7, 41, 66, 0.57) 44%, rgba(7, 41, 66, 0.78) 61%, rgba(7, 41, 66, 0.85) 70%, rgba(7, 41, 66, 0.91) 81%, rgba(7, 41, 66, 0.93) 100%), url(../images/7.jpg) no-repeat;
      background: linear-gradient(to bottom, rgba(7, 41, 66, 0) 0%, rgba(7, 41, 66, 0.02) 6%, rgba(7, 41, 66, 0.09) 12%, rgba(7, 41, 66, 0.57) 44%, rgba(7, 41, 66, 0.78) 61%, rgba(7, 41, 66, 0.85) 70%, rgba(7, 41, 66, 0.91) 81%, rgba(7, 41, 66, 0.93) 100%), url(../images/7.jpg) no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 100%;
      max-height: 100%; }
      header #carouselIndicators1 .first-slide .header-text,
      header #carouselIndicators1 .second-slide .header-text,
      header #carouselIndicators1 .third-slide .header-text {
        color: #ffffff;
        position: absolute;
        top: 35%;
        left: 10%; }
        header #carouselIndicators1 .first-slide .header-text h2,
        header #carouselIndicators1 .second-slide .header-text h2,
        header #carouselIndicators1 .third-slide .header-text h2 {
          font-size: 4vw; }
        header #carouselIndicators1 .first-slide .header-text h3,
        header #carouselIndicators1 .second-slide .header-text h3,
        header #carouselIndicators1 .third-slide .header-text h3 {
          font-size: 7vw;
          color: #ffc471; }
        header #carouselIndicators1 .first-slide .header-text h1,
        header #carouselIndicators1 .second-slide .header-text h1,
        header #carouselIndicators1 .third-slide .header-text h1 {
          font-size: 6vw;
          font-weight: 600;
          display: inline; }
        header #carouselIndicators1 .first-slide .header-text button,
        header #carouselIndicators1 .second-slide .header-text button,
        header #carouselIndicators1 .third-slide .header-text button {
          position: absolute;
          top: 33%;
          background-color: transparent;
          border: 2px solid #ffc471;
          color: #ffc471;
          font-size: 1vw;
          padding: .5% 1%;
          font-weight: 800;
          margin-left: 1vw;
          transition: .3s ease all; }
          header #carouselIndicators1 .first-slide .header-text button:hover,
          header #carouselIndicators1 .second-slide .header-text button:hover,
          header #carouselIndicators1 .third-slide .header-text button:hover {
            background-color: #ffc471;
            color: #ffffff; }

.navbar-scroll {
  background-color: rgba(5, 44, 65, 0.8); }

.us-mobile {
  display: none; }

.us .products-left {
  background: url("../images/1.png");
  background-size: cover; }
  .us .products-left .dynamic-box {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 67.2%;
    background-color: rgba(200, 208, 212, 0.95);
    display: flex;
    animation-duration: .5s;
    z-index: 1; }
    .us .products-left .dynamic-box .s4 h2 {
      margin-left: 100%; }
    .us .products-left .dynamic-box .s4 .last-us {
      width: 100%;
      margin-left: 105%; }
    .us .products-left .dynamic-box .dynamic-selected h2 {
      margin-top: 6%;
      color: #052C41;
      font-size: 3.5vw; }
    .us .products-left .dynamic-box .dynamic-selected ul {
      margin-right: 12%;
      margin-left: 15%;
      margin-bottom: 5%;
      font-size: 1.15vw; }
    .us .products-left .dynamic-box .dynamic-selected p {
      margin-right: 12%;
      margin-left: 12%;
      margin-bottom: 5%;
      font-size: 1.15vw; }
    .us .products-left .dynamic-box .dynamic-selected button {
      background-color: transparent;
      border: 2px solid #052C41;
      padding: 3%;
      transition: .3s ease all;
      font-family: 'Gotham Bold';
      letter-spacing: 1px;
      margin-bottom: 5%;
      outline: none; }
      .us .products-left .dynamic-box .dynamic-selected button:hover {
        color: #ffffff;
        background-color: #052C41; }
.us .products-right .product-title-container {
  background-color: #ffffff; }
  .us .products-right .product-title-container h2 {
    color: #052C41;
    padding-top: 10%;
    font-size: 4vw;
    font-weight: bold; }
  .us .products-right .product-title-container p {
    padding-bottom: 5%;
    font-size: 1vw; }
.us .products-right .product-items-container :not(.active-item) + div.item-container::before {
  content: "";
  position: absolute;
  left: 15%;
  height: 1px;
  width: 70%;
  border-top: #052C41 3px solid; }
.us .products-right .product-items-container .active-item button {
  background-color: #052C41;
  color: #FDC561;
  border: none;
  outline: none; }
.us .products-right .product-items-container .active-item i {
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 1.5vw; }
.us .products-right .product-items-container button {
  padding-left: 9%;
  padding-top: 7%;
  padding-bottom: 7%;
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  cursor: pointer;
  transition: .3s ease all;
  background-color: transparent; }
.us .products-right .arrow {
  border: solid #052C41;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 1.5vw; }
.us .products-right .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); }

.team .title {
  margin-top: 5%; }
  .team .title h2 {
    color: #052C41;
    padding-top: 5%;
    font-size: 3vw;
    font-weight: bold; }
  .team .title p {
    padding-bottom: 5%;
    font-size: 1vw; }
.team .team-members .carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 10px;
  text-indent: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #052C41; }
.team .team-members .carousel-indicators .active {
  width: 10px;
  height: 10px;
  margin: 10px;
  background-color: #ffc471; }
.team .team-members .team-member {
  padding-bottom: 5%;
  background: #f4f8fb;
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(244, 248, 251, 0) 22%, #f4f8fb 22%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(22%, rgba(244, 248, 251, 0)), color-stop(22%, #f4f8fb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(244, 248, 251, 0) 22%, #f4f8fb 22%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(244, 248, 251, 0) 22%, #f4f8fb 22%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(244, 248, 251, 0) 22%, #f4f8fb 22%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(244, 248, 251, 0) 22%, #f4f8fb 22%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6d8d8', GradientType=0);
  /* IE6-9 */ }
  .team .team-members .team-member .imageContainer {
    width: 150px;
    height: 150px; }
    .team .team-members .team-member .imageContainer img {
      cursor: pointer;
      margin-top: 5%;
      width: 100%;
      height: 100%;
      border: 2px solid #ffc471; }
  .team .team-members .team-member .team-member-text {
    color: #052C41;
    padding-top: 7%;
    padding-left: 10%;
    padding-right: 10%; }
    .team .team-members .team-member .team-member-text h2 {
      font-size: 18px;
      font-weight: bold; }
    .team .team-members .team-member .team-member-text p {
      font-size: 12px; }

.products-mobile {
  display: none; }

.products .products-left {
  background: url("../images/2.jpg"); }
  .products .products-left .dynamic-box {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 59.6%;
    background-color: rgba(200, 208, 212, 0.95);
    display: flex;
    animation-duration: .5s; }
    .products .products-left .dynamic-box .dynamic-selected h2 {
      color: #052C41;
      font-size: 3vw; }
    .products .products-left .dynamic-box .dynamic-selected .h2-button {
      margin-top: 5%; }
    .products .products-left .dynamic-box .dynamic-selected p {
      margin-right: 12%;
      margin-left: 12%;
      margin-bottom: 5%;
      font-size: 1.15vw; }
    .products .products-left .dynamic-box .dynamic-selected button {
      background-color: transparent;
      border: 2px solid #052C41;
      padding: 3%;
      transition: .3s ease all;
      font-family: 'Gotham Bold';
      letter-spacing: 1px;
      margin-bottom: 5%; }
      .products .products-left .dynamic-box .dynamic-selected button:hover {
        color: #ffffff;
        background-color: #052C41; }
.products .products-right .product-title-container {
  background-color: #052C41; }
  .products .products-right .product-title-container h2 {
    color: #ffffff;
    padding-top: 10%;
    padding-right: 7%;
    font-size: 4vw;
    font-weight: bold; }
  .products .products-right .product-title-container p {
    padding-right: 7%;
    font-size: 1vw;
    padding-bottom: 5%; }
.products .products-right .product-items-container :not(.active-item) + div.item-container::before {
  content: "";
  position: absolute;
  left: 15%;
  height: 1px;
  width: 70%;
  border-top: #FDC561 3px solid; }
.products .products-right .product-items-container .active-item {
  background-color: #FDC561; }
  .products .products-right .product-items-container .active-item i {
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 1.5vw; }
.products .products-right .product-items-container button {
  padding-right: 10%;
  padding-top: 7%;
  padding-bottom: 7%;
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  cursor: pointer;
  transition: .3s ease all;
  outline: none;
  background-color: transparent; }
.products .products-right i {
  border: solid #FDC561;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 1.5vw; }
.products .products-right .left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg); }

.phrases {
  background: url("../images/navbar_bg.png");
  color: #ffffff;
  padding-top: 5%;
  padding-bottom: 5%; }
  .phrases .carousel-control-prev-icon,
  .phrases .carousel-control-next-icon {
    height: 2vw !important;
    width: 2vw !important; }
  .phrases h2::before {
    content: open-quote;
    color: #FDC561; }
  .phrases h2::after {
    content: close-quote;
    color: #FDC561; }
  .phrases h3 {
    font-style: italic;
    color: #FDC561;
    font-weight: bold;
    font-size: 2.5vw; }

.culture-mobile {
  display: none; }

.culture .products-left {
  background: url("../images/3.jpg");
  background-size: cover;
  padding-bottom: 50px; }
  .culture .products-left .dynamic-box {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60.6%;
    background-color: rgba(200, 208, 212, 0.95);
    display: flex;
    animation-duration: .5s; }
    .culture .products-left .dynamic-box .dynamic-selected h2 {
      margin-left: 12%;
      margin-top: 10%;
      color: #052C41;
      font-size: 3.5vw; }
    .culture .products-left .dynamic-box .dynamic-selected ul {
      margin-right: 12%;
      margin-left: 15%;
      margin-bottom: 5%;
      font-size: 1.15vw; }
    .culture .products-left .dynamic-box .dynamic-selected p {
      margin-right: 12%;
      margin-left: 13%;
      margin-bottom: 5%;
      font-size: 1.15vw; }
    .culture .products-left .dynamic-box .dynamic-selected button {
      background-color: transparent;
      border: 2px solid #052C41;
      padding: 3%;
      transition: .3s ease all;
      font-family: 'Gotham Bold';
      letter-spacing: 1px;
      margin-bottom: 5%; }
      .culture .products-left .dynamic-box .dynamic-selected button:hover {
        color: #ffffff;
        background-color: #052C41; }
.culture .products-right .product-title-container {
  background-color: #ffffff; }
  .culture .products-right .product-title-container h2 {
    color: #052C41;
    padding-top: 10%;
    padding-left: 7%;
    font-size: 4vw;
    font-weight: bold; }
  .culture .products-right .product-title-container p {
    color: #052C41;
    padding-left: 7%;
    padding-bottom: 5%; }
.culture .products-right .product-items-container :not(.active-item) + div.item-container::before {
  content: "";
  position: absolute;
  left: 15%;
  height: 1px;
  width: 70%;
  border-top: #052C41 3px solid; }
.culture .products-right .product-items-container .active-item button {
  background-color: #052C41;
  border: none;
  color: #FDC561; }
.culture .products-right .product-items-container .active-item i {
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 1.5vw; }
.culture .products-right .product-items-container button {
  padding-left: 9%;
  padding-top: 17.9%;
  padding-bottom: 17.9%;
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  cursor: pointer;
  outline: none;
  transition: .3s ease all;
  background-color: transparent; }
.culture .products-right i {
  border: solid #FDC561;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 1.5vw; }
.culture .products-right .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); }

.blog {
  background-color: #f4f8fb; }
  .blog .product-title-container {
    padding-top: 3%;
    padding-bottom: 2%; }
  .blog .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #052C41; }
  .blog .carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 10px;
    background-color: #ffc471; }
  .blog img {
    width: 100%; }
  .blog .blog-item {
    padding-bottom: 5%;
    background-color: #ffffff; }
    .blog .blog-item .blog-item-text,
    .blog .blog-item .blog-item-footer {
      padding-right: 5%;
      padding-left: 5%; }
    .blog .blog-item .blog-item-text {
      margin-top: 5%; }
      .blog .blog-item .blog-item-text h2 {
        font-size: 1.5vw; }
      .blog .blog-item .blog-item-text p {
        font-size: 1vw; }
  .blog button {
    background-color: transparent;
    border: 2px solid #052C41;
    padding: 3%;
    transition: .3s ease all;
    font-family: 'Gotham Bold';
    letter-spacing: 1px;
    margin-bottom: 5%; }
    .blog button:hover {
      color: #ffffff;
      background-color: #052C41; }

.contact {
  background-color: rgba(244, 248, 251, 0.1); }
  .contact .title h2 {
    color: #052C41;
    padding-top: 5%;
    font-size: 3vw;
    font-weight: bold; }
  .contact .title p {
    padding-left: 7%;
    padding-bottom: 5%;
    font-size: 1vw;
    color: #052C41; }
  .contact .title-contact {
    color: #ffffff;
    font-size: 2.5vw;
    font-weight: bold; }
  .contact button {
    background-color: #FDC561;
    border: 2px solid #074160;
    padding: 2.5%;
    color: #052C41;
    font-weight: bold;
    transition: .3s ease all;
    letter-spacing: 1px; }
    .contact button:hover {
      color: #FDC561;
      background-color: #ffffff; }
  .contact .phone-contact {
    background-color: #074160;
    padding: 3% 5%; }
    .contact .phone-contact .form-group {
      margin-bottom: 4%; }
      .contact .phone-contact .form-group input {
        border: 1px solid #ffffff;
        background-color: #ffffff; }
        .contact .phone-contact .form-group input::placeholder {
          color: #000000; }
  .contact .email-contact {
    background-color: #052C41;
    padding: 3% 5%; }
    .contact .email-contact input,
    .contact .email-contact textarea {
      border: 1px solid #ffffff;
      background-color: #ffffff; }
      .contact .email-contact input::placeholder,
      .contact .email-contact textarea::placeholder {
        color: #000000; }
    .contact .email-contact textarea {
      margin-bottom: 4%;
      resize: none; }

footer {
  background-color: #074160; }
  footer .contact-credentials .mail-link {
    color: #FDC561; }
  footer .container {
    padding-top: 3%; }
  footer ul li {
    cursor: pointer; }
  footer .list-inline-item {
    font-size: 1vw; }
  footer .contact-credentials span,
  footer .social-network span {
    color: #FDC561; }
  footer .social-network {
    padding-left: 1vw;
    margin: 0 auto; }
    footer .social-network a {
      color: #FDC561;
      font-size: 24px; }
    footer .social-network .fa-facebook {
      padding-left: 3px;
      padding-right: 3px; }
    footer .social-network .fa-instagram {
      margin: 0 5%; }
  footer .copyright {
    font-weight: bold; }
  footer .about-footer ul li {
    transition: .3s ease all; }
    footer .about-footer ul li:hover {
      text-decoration: underline; }

@media only screen and (max-width: 767px) {
  .us-mobile {
    padding-left: 0;
    padding-right: 0;
    display: block; }
    .us-mobile .row {
      margin: 0; }
    .us-mobile .products-right {
      padding-left: 0;
      padding-right: 0; }
      .us-mobile .products-right .last-us {
        width: 120% !important; }
      .us-mobile .products-right .product-items-container :not(.active-item) + div + div.item-container::before {
        content: "";
        position: absolute;
        left: 15%;
        height: 1px;
        width: 70%;
        border-top: #052c41 3px solid; }
      .us-mobile .products-right .product-items-container .active-item button {
        background-color: #052C41;
        color: #FDC561;
        border: none;
        outline: none; }
      .us-mobile .products-right .product-items-container .active-item i {
        border: solid #ffffff;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin-right: 1.5vw; }
      .us-mobile .products-right .product-items-container button {
        padding-top: 4%;
        padding-bottom: 4%;
        margin-top: 0;
        margin-bottom: 0;
        border: none;
        cursor: pointer;
        transition: .3s ease all;
        background-color: transparent; }
      .us-mobile .products-right .arrow {
        border: solid #052C41;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin-right: 1.5vw; }
      .us-mobile .products-right .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg); }
      .us-mobile .products-right .product-title-container h2 {
        font-weight: bold;
        font-size: 8vw !important;
        margin-top: 5%; }
      .us-mobile .products-right .product-title-container p {
        font-size: 4vw !important; }
      .us-mobile .products-right .dynamic-box .dynamic-selected {
        padding: 4% 5%; }
        .us-mobile .products-right .dynamic-box .dynamic-selected h2 {
          font-size: 6vw; }
        .us-mobile .products-right .dynamic-box .dynamic-selected ul li {
          list-style: none;
          font-size: 3vw; }
        .us-mobile .products-right .dynamic-box .dynamic-selected p {
          font-size: 3vw; }

  .us {
    display: none; }

  .products-mobile {
    display: block;
    padding: 0; }
    .products-mobile .row {
      margin: 0; }
      .products-mobile .row .products-right {
        padding-left: 0;
        padding-right: 0; }
        .products-mobile .row .products-right .product-title-container {
          background-color: #052C41; }
          .products-mobile .row .products-right .product-title-container h2 {
            color: #ffffff;
            padding-top: 4%;
            font-size: 8vw !important;
            font-weight: bold; }
          .products-mobile .row .products-right .product-title-container p {
            font-size: 4vw; }
        .products-mobile .row .products-right .product-items-container :not(.active-item) + div + div.item-container::before {
          content: "";
          position: absolute;
          left: 15%;
          height: 1px;
          width: 70%;
          border-top: #FDC561 3px solid; }
        .products-mobile .row .products-right .product-items-container .active-item button {
          background-color: #FDC561;
          color: #ffffff;
          border: none;
          outline: none; }
        .products-mobile .row .products-right .product-items-container .active-item i {
          border: solid #ffffff;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 3px;
          margin-right: 1.5vw; }
        .products-mobile .row .products-right .product-items-container button {
          padding-top: 4%;
          padding-bottom: 4%;
          margin-top: 0;
          margin-bottom: 0;
          border: none;
          cursor: pointer;
          transition: .3s ease all;
          background-color: transparent; }
        .products-mobile .row .products-right .arrow {
          border: solid #052C41;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 3px;
          margin-right: 1.5vw; }
        .products-mobile .row .products-right .left {
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg); }
        .products-mobile .row .products-right .dynamic-box .dynamic-selected {
          padding: 4% 5%; }
          .products-mobile .row .products-right .dynamic-box .dynamic-selected h2 {
            font-size: 6vw; }
          .products-mobile .row .products-right .dynamic-box .dynamic-selected ul {
            padding-left: 5%; }
            .products-mobile .row .products-right .dynamic-box .dynamic-selected ul li {
              font-size: 3vw; }
          .products-mobile .row .products-right .dynamic-box .dynamic-selected p {
            font-size: 3vw; }
          .products-mobile .row .products-right .dynamic-box .dynamic-selected button {
            background-color: transparent;
            border: 2px solid #052C41;
            padding: 3%;
            transition: .3s ease all;
            font-family: 'Gotham Bold';
            letter-spacing: 1px; }
            .products-mobile .row .products-right .dynamic-box .dynamic-selected button:hover {
              color: #ffffff;
              background-color: #052C41; }

  .products {
    display: none; }

  .culture {
    display: none; }

  .culture-mobile {
    padding: 0;
    display: block; }
    .culture-mobile .row {
      margin: 0; }
      .culture-mobile .row .products-right {
        padding-left: 0;
        padding-right: 0; }
        .culture-mobile .row .products-right .product-items-container :not(.active-item) + div + div.item-container::before {
          content: "";
          position: absolute;
          left: 15%;
          height: 1px;
          width: 70%;
          border-top: #052c41 3px solid; }
        .culture-mobile .row .products-right .product-items-container .active-item button {
          background-color: #052C41;
          border: none;
          color: #FDC561;
          outline: none; }
        .culture-mobile .row .products-right .product-items-container .active-item i {
          border: solid #ffffff;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 3px;
          margin-right: 1.5vw; }
        .culture-mobile .row .products-right .product-items-container button {
          padding-top: 4%;
          padding-bottom: 4%;
          margin-top: 0;
          margin-bottom: 0;
          border: none;
          cursor: pointer;
          transition: .3s ease all;
          background-color: transparent; }
        .culture-mobile .row .products-right .arrow {
          border: solid #052C41;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 3px;
          margin-right: 1.5vw; }
        .culture-mobile .row .products-right .right {
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg); }
        .culture-mobile .row .products-right .product-title-container h2 {
          font-size: 8vw !important;
          margin-top: 5%;
          font-weight: bold; }
        .culture-mobile .row .products-right .product-title-container p {
          font-size: 4vw; }
        .culture-mobile .row .products-right .dynamic-box .dynamic-selected {
          padding: 4% 5%; }
          .culture-mobile .row .products-right .dynamic-box .dynamic-selected h2 {
            font-size: 6vw; }
          .culture-mobile .row .products-right .dynamic-box .dynamic-selected ul {
            padding-left: 5%; }
            .culture-mobile .row .products-right .dynamic-box .dynamic-selected ul li {
              font-size: 3vw; }
          .culture-mobile .row .products-right .dynamic-box .dynamic-selected p {
            font-size: 3vw; }
          .culture-mobile .row .products-right .dynamic-box .dynamic-selected button {
            background-color: transparent;
            border: 2px solid #052C41;
            padding: 3%;
            transition: .3s ease all;
            font-family: 'Gotham Bold';
            letter-spacing: 1px; }
            .culture-mobile .row .products-right .dynamic-box .dynamic-selected button:hover {
              color: #ffffff;
              background-color: #052C41; }

  .blog .carousel-item .blog-item .blog-item-text h2 {
    font-size: 5vw; }
  .blog .carousel-item .blog-item .blog-item-text p {
    font-size: 3vw; }

  .phrases h3 {
    font-size: 5vw; }
  .phrases h2 {
    font-size: 5vw; }

  .team .title h2 {
    font-weight: bold;
    font-size: 8vw;
    margin-top: 5%; }
  .team .title p {
    font-size: 4vw; }
  .team .team-members .team-member {
    background: #f4f8fb;
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(244, 248, 251, 0) 16%, #f4f8fb 16%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(16%, rgba(244, 248, 251, 0)), color-stop(16%, #f4f8fb));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(244, 248, 251, 0) 16%, #f4f8fb 16%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(244, 248, 251, 0) 16%, #f4f8fb 16%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(244, 248, 251, 0) 16%, #f4f8fb 16%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(244, 248, 251, 0) 16%, #f4f8fb 16%);
    /* W3C */ }

  .contact .title-contact {
    font-size: 6vw; }
  .contact .title h2 {
    font-weight: bold;
    font-size: 8vw;
    margin-top: 5%; }
  .contact .title p {
    font-size: 4vw;
    padding-left: 0%; }

  header {
    height: 55vh !important; }
    header .nav-mobile-container .show-menu-bot ul {
      margin-top: 4%; }
      header .nav-mobile-container .show-menu-bot ul li {
        margin-bottom: 5%; }
        header .nav-mobile-container .show-menu-bot ul li:last-child {
          margin-bottom: 0; }
    header #carouselIndicators1 {
      height: 55vh !important; }
      header #carouselIndicators1 .first-slide,
      header #carouselIndicators1 .second-slide,
      header #carouselIndicators1 .third-slide {
        height: 55vh !important; }
    header .carousel-indicators {
      bottom: -10px; }
      header .carousel-indicators .active,
      header .carousel-indicators li {
        height: 10px;
        width: 10px; }
    header .carousel-inner .carousel-item .header-text {
      padding-left: 3%; }
      header .carousel-inner .carousel-item .header-text h1 {
        display: block !important;
        font-size: 18px !important; }
      header .carousel-inner .carousel-item .header-text h2 {
        font-size: 20px !important; }
      header .carousel-inner .carousel-item .header-text h3 {
        margin-top: 5%;
        font-size: 20px !important; }
      header .carousel-inner .carousel-item .header-text button {
        top: 100% !important;
        position: relative;
        font-size: 10px !important; }

  .about-footer {
    display: none; }

  .phrases .carousel-control-prev-icon,
  .phrases .carousel-control-next-icon {
    height: 3vw !important;
    width: 3vw !important; }

  footer .copyright {
    font-size: 3vw; } }
@media only screen and (max-width: 340px) {
  .us-mobile .product-items-container .item-container button {
    padding-left: 28% !important; }

  .products-mobile .product-items-container .item-container button {
    padding-left: 22% !important; }

  .culture-mobile .product-items-container .item-container button {
    padding-left: 20% !important; } }
@media only screen and (min-width: 340px) {
  .us-mobile .product-items-container .item-container button {
    padding-left: 31% !important; }

  .products-mobile .product-items-container .item-container button {
    padding-left: 27% !important; }

  .culture-mobile .product-items-container .item-container button {
    padding-left: 25% !important; } }
@media only screen and (min-width: 410px) {
  .us-mobile .product-title-container h2,
  .culture-mobile .product-title-container h2 {
    font-size: 6vw !important;
    text-align: center !important; }
  .us-mobile .product-title-container p,
  .culture-mobile .product-title-container p {
    font-size: 3vw !important; }
  .us-mobile .product-items-container .item-container button,
  .culture-mobile .product-items-container .item-container button {
    padding-left: 32% !important; }

  .products-mobile .product-items-container .item-container button {
    padding-left: 30% !important; }

  .culture-mobile .product-items-container .item-container button {
    padding-left: 29% !important; } }
@media only screen and (min-width: 530px) {
  .us-mobile .product-title-container h2 {
    font-size: 6vw !important;
    text-align: center !important;
    padding-right: 0 !important; }
  .us-mobile .product-title-container p {
    font-size: 3vw !important; }
  .us-mobile .product-items-container .item-container button {
    padding-left: 35% !important; }

  .products-mobile .product-items-container .item-container button {
    padding-left: 33% !important; }

  .culture-mobile .product-items-container .item-container button {
    padding-left: 32% !important; } }
@media only screen and (min-width: 710px) {
  .us-mobile .product-title-container h2,
  .products-mobile .product-title-container h2,
  .culture-mobile .product-title-container h2 {
    font-size: 6vw !important;
    text-align: center !important;
    padding-right: 0 !important; }
  .us-mobile .product-title-container p,
  .products-mobile .product-title-container p,
  .culture-mobile .product-title-container p {
    font-size: 3vw !important; }
  .us-mobile .product-items-container .item-container button,
  .products-mobile .product-items-container .item-container button,
  .culture-mobile .product-items-container .item-container button {
    padding-left: 38% !important; } }

/*# sourceMappingURL=styles.css.map */
